# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store
**/macos/Flutter/ephemeral/
**/macos/Pods/
**/macos/Runner.xcodeproj/xcuserdata/
**/macos/Runner.xcworkspace/xcuserdata/
**/macos/Runner.xcodeproj/project.xcworkspace/xcuserdata/

